.HomeNavBar{
    background-color: rgb(84, 162, 84);
    font-size: 20 px;
    display: flex;
}
.HomeNavBar  button{
    background-color: rgb(84, 162, 84);
    border-color:  rgb(84, 162, 84);
    font-size: 130%;
    margin-left: 5%;
    margin-right: 2%;
       
    
}
.ButtonContainer{
    width: 100%;
    margin-left: 55%;
    padding-top: 0.6%;
}
.HomeNavBar h1{
    font-family:Fantasy; 
    margin-top: 0.5%;
}